body {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
}

#app {
  position: relative;
  width: 375px;
}

/* Game Header (lives and score) */
.lives {
  position: absolute;
  top: 5;
  left: 5;
  display: flex;
}

.lives img {
  height: 20px;
  margin-right: 5px;
}

.lives .life-count {
  color: #ffffff;
}

.score {
  color: #fff;
  top: 5;
  right: 5;
  position: absolute;
}
/* End Game header */

/* Game Over Start */
.game-over-container {
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%;
  z-index: 10;
  display: none;
}

.game-over {
  font-size: 3em;
  color: azure;
  animation-name: beat;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.game-over-btn {
  background-color: eb3434;
  border-radius: 4px;
  border: 3px solid azure;
  height: 40px;
  width: 100px;
  color: azure;
  cursor: pointer;
}

.game-over-btn:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.5s;
}

/* Game Over Animation code */
@keyframes beat {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.1);
  }
  66% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
/* Game Over End */
