@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
}

#app > div {
  overflow: hidden;
}

button {
  font-family: "Bebas Neue", cursive;
  position: absolute;
  top: 18px;
  left: 18px;
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding: 8px 0;
  appearance: none;
  background: rgb(223, 188, 52);
  border: none;
  color: white;
  border-radius: 2em;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  box-shadow: 4px 4px 6px rgba(233, 202, 228, 0.9);
  outline: none;
  width: 180px;
}
#right {
  position: absolute;
  z-index: 100;
  width: 120px;
}

#left {
  position: absolute;
  z-index: 100;
  width: 120px;
  transform: rotate(180deg);
}

#frame {
  position: relative;
}

#wrapper {
  background-color: #302244;
  border: 12px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  overflow: hidden;
}
