body {
  position: relative;
}

.app {
  position: relative;
}
.startButton {
  font-family: "Comic Neue";

  position: absolute;
  top: 150px;
  left: 95px;
  z-index: 10000;
  border: 2px red solid;
  padding: 30px 40px;
  font-size: 1.4rem;
}

.lives {
  position: absolute;
  display: flex;
}

.lives > img {
  height: 30px;
  width: 40px;
  padding: 2px;
}
